<div class="tab-pane fade" id="percentage" role="tabpanel" aria-labelledby="percentage-tab">
    <div class="col-md-6">
        <form method="post" name="alert_percent_tab">
            <div class="form-group"> 
                <label for="percent_notification_method"><i class="feather icon-alert-circle"></i> Alertez moi via</label>
                <select multiple class="form-control" name="percent_notification_method" id="percent_notification_method">
                    <option value="" disabled hidden></option>
                    <option value="mail"><i class="feather icon-mail"></i>Courriel</option>
                    <option value="discord">Discord</option>
                    <option value="browser">Navigateur</option>
                    <option value="slack">Slack</option>
                    <option value="telegram">Telegram</option>
                    <option value="webhook">Webhook</option>
                    <option value="whatsapp">Whatsapp</option>
                </select>
            </div>
            <div class="form-group" name="alert_percent_tab"> 
                <label for="percent_crypto_selected"><i class="feather icon-shopping-cart"></i> Quand la valeur de</label>
                <select class="form-control choices__input" name="percent_crypto_selected" id="percent_crypto_selected">
                    <option value="Cette cryptommonaie (tapez pour rechercher)" selected disabled hidden></option>
                    {% for _, crypto in cryptos.items() %}
                    <option value="{{crypto.slug}}">{{crypto.slug}} ({{crypto.symbol}}) — {{crypto.price_eur|round(2)}}€</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="percent_low_threshold"> <i class="feather icon-arrow-down"></i> diminue de (%)</label>
                <input name="percent_low_threshold" type="number"
                        class="form-control"
                        id="percent_low_threshold"
                        min="0" 
                        step="any"
                        placeholder="0"
                        value="{{request.form['percent_low_threshold'] }}">
            </div>
            <div class="form-group">
                <label for="percent_high_threshold"> <i class="feather icon-arrow-up"></i> ou augmente de (%)</label>
                <input name="percent_high_threshold" type="number"
                        class="form-control"
                        id="percent_high_threshold"
                        min="0" 
                        step="any"
                        placeholder="0" 
                        value="{{request.form['percent_high_threshold'] }}">
            </div>
            <div class="form-group">
                <label for="discord_webhook_id"> <i class="feather icon-arrow-up"></i> Discord Webook ID</label>
                <input name="discord_webhook_id" type="text"
                        class="form-control"
                        id="discord_webhook_id"
                        min="0" 
                        step="any"
                        placeholder="0" 
                        value="{{request.form['discord_webhook_id'] }}">
            </div>
            <div class="form-group">
                <label for="discord_webhook_token"> <i class="feather icon-arrow-up"></i> Discord Webook Token</label>
                <input name="discord_webhook_token" type="text"
                        class="form-control"
                        id="discord_webhook_token"
                        min="0" 
                        step="any"
                        placeholder="0" 
                        value="{{request.form['discord_webhook_token'] }}">
            </div>
            <div class="form-group form-check"> 
                <input type="checkbox" class="form-check-input" id="snooze" name="snooze" value="{{ request.form['snooze'] }}">
                <labelclass="form-check-label" for="snooze">Snooze: Répeter l'alerte jusqu'a 3 fois avant désactivation automatique</label>
            </div>
            <button type="submit" class="btn btn-primary"><i class="feather icon-play-circle" id="percent_submit"></i>Créer l'alerte</button>
            <button type="reset" class="btn btn-secondary"><i class="feather icon-minus-circle" id="percent_reset"></i>Remettre à zéro</button>
        </form>
    </div>
</div>