<script src="{{ config.ASSETS_ROOT }}/js/vendor-all.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pcoded.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/dark-mode.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/custom-all.js"></script>
<!-- Choices-js JavaScript -->
<script src="{{ config.ASSETS_ROOT }}/js/choices.min.js"></script>
<!-- Survey form -->
<script>
    (function (s, e, n, d, er) {
      s['Sender'] = er;
      s[er] = s[er] || function () {
        (s[er].q = s[er].q || []).push(arguments)
      }, s[er].l = 1 * new Date();
      var a = e.createElement(n),
          m = e.getElementsByTagName(n)[0];
      a.async = 1;
      a.src = d;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
    sender('d146055f752575')
  </script>