<script src="{{ config.ASSETS_ROOT }}/js/vendor-all.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pcoded.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/dark-mode.js"></script>
<!-- //////// Custom JavaScript  START //////// -->
<!-- manage all custom JS for THIS page -->
<script src="{{ config.ASSETS_ROOT }}/js/custom/fomotools-add_crypto.js" defer></script>
<!-- Global custom JS functions and objects -->
<!-- <script src="{{ config.ASSETS_ROOT }}/js/custom/jquery.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script> -->
<!-- <script src="{{ config.ASSETS_ROOT }}/js/custom/jquery-1.12.4.js"></script> -->
<script src="{{ config.ASSETS_ROOT }}/js/custom/custom-all.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/custom/choices.min.js"></script>
<!-- <script src="{{ config.ASSETS_ROOT }}/js/custom/pdfmake.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/custom/vfs_fonts.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/custom/semantic.min.js"></script> -->
<!-- ////////  Custom JavaScript  END ////////  -->
<!-- ////////  Custom DATABABLES JavaScript  START ////////  -->
<!-- <script src="{{ config.ASSETS_ROOT }}/js/datatables/fomotools.datatables.js" async></script>
<script src="{{ config.ASSETS_ROOT }}/js/datatables/jquery.dataTables.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/datatables/dataTables.buttons.min.js" defer></script>
<script src="{{ config.ASSETS_ROOT }}/js/datatables/buttons.html5.min.js" defer></script>
<script src="{{ config.ASSETS_ROOT }}/js/datatables/buttons.print.min.js" defer></script>
<script src="{{ config.ASSETS_ROOT }}/js/datatables/buttons.colVis.min.js" defer></script>
<script src="{{ config.ASSETS_ROOT }}/js/datatables/buttons.semanticui.min.js" defer></script>
<script src="{{ config.ASSETS_ROOT }}/js/datatables/dataTables.colReorder.min.js" defer></script>
<script src="{{ config.ASSETS_ROOT }}/js/datatables/dataTables.select.min.js" defer></script>
<script src="{{ config.ASSETS_ROOT }}/js/datatables/dataTables.semanticui.min.js" defer></script> -->
<!-- ////////  Custom DATABABLES JavaScript  END  ////////  -->