<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">FOMOtools (bêta)</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Mes outils</label>
                <!-- <li data-username="Profile Page"
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">My portfolio</span></a>
                </li>   
                <li data-username="Profile Page"
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">Portfolios shared by community</span></a>
                </li> -->
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Vue globale (accueil)</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Mes outils premium</label>
                </li>
                </li>
                <!-- <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-home"></i></span><span
                            class="pcoded-mtext">FOMO alerts</span></a>
                </li> -->
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'add_crypto' in segment %} active {% endif %}">
                    <a href="/add_crypto.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-bell"></i></span>
                        <span class="pcoded-mtext">Créer une alerte</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Options</label>
                </li>
                <li data-username="Profile page" class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="{{ url_for('home_blueprint.profile') }}" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-user"></i>
                        </span>
                        <span class="pcoded-mtext">Mon profil</span>
                    </a>
                </li>
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Se déconnecter</span>
                    </a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Liens utiles</label>
                </li>
                <li data-username="Contactez-nous"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link {% if 'support' in segment %} active {% endif %}"><span class="pcoded-micon"><i class="feather icon-message-circle"></i></span><span
                            class="pcoded-mtext">Contactez-nous</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="mailto:contact@ak-intelligence.com"><i class="feather icon-headphones"></i> Support</a></li>
                        <li class=""><a href="https://discord.gg/GY6xu2B3Ut" class="disabled"><i class="feather icon-users"></i> Discord</a></li>
                        <li class=""><a href="https://forum.ak-intelligence.com" class="disabled"><i class="feather icon-users"></i> Forum</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Soutenez-nous</label>
                    <br/>
                    <span class="pcoded-mtext">PayPal</span>
                    <br/>
                    <span class="pcoded-mtext" style="font-size:8px;"><a href="https://paypal.me/Fomotools" target="_blank" rel="noopener noreferrer" >https://paypal.me/Fomotools</a></span>
                    <br/>
                    <span class="pcoded-mtext">BTC</span>
                    <span class="pcoded-mtext" style="font-size:8px;"><a href="https://link.trustwallet.com/send?coin=0&address=bc1qgc30r04wzmdsgwz63jadasrrtdzz5mf58y5n8s" target="_blank" rel="noopener noreferrer" >bc1qgc30r04wzmdsgwz63jadasrrtdzz5mf58y5n8s</a></span>
                    <br/>
                    <span class="pcoded-mtext">ETH</span>
                    <br/>
                    <span class="pcoded-mtext" style="font-size:8px;"><a href="https://link.trustwallet.com/send?coin=60&address=0x09260890DDfe71223c8522534cc37D605Dd81D6A" target="_blank" rel="noopener noreferrer" >0x09260890DDfe71223c8522534cc37D605Dd81D6A</a></span>
                    <br/>
                    <span class="pcoded-mtext">BUSD</span>
                    <br/>
                    <span class="pcoded-mtext" style="font-size:8px;"><a href="https://link.trustwallet.com/send?coin=20000714&address=0x09260890DDfe71223c8522534cc37D605Dd81D6A&token_id=0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56" target="_blank" rel="noopener noreferrer" >0x09260890DDfe71223c8522534cc37D605Dd81D6A</a></span>
                    <br/>
                    <span class="pcoded-mtext">SOL</span>
                    <br/>
                    <span class="pcoded-mtext" style="font-size:8px;"><a href="https://link.trustwallet.com/send?coin=501&address=AzC9Lius7sfVfompkLxPKpka2X9m7bPR1ivnDYMwPeL" target="_blank" rel="noopener noreferrer" >AzC9Lius7sfVfompkLxPKpka2X9m7bPR1ivnDYMwPeL</a></span>

                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
