<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">FOMOtools (bêta)</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Mes outils</label>
                <!-- <li data-username="Profile Page"
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">My portfolio</span></a>
                </li>   
                <li data-username="Profile Page"
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">Portfolios shared by community</span></a>
                </li> -->
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Vue globale (accueil)</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Mes outils payants</label>
                </li>
                </li>
                <!-- <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-home"></i></span><span
                            class="pcoded-mtext">FOMO alerts</span></a>
                </li> -->
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'add_crypto' in segment %} active {% endif %}">
                    <a href="/add_crypto.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-phone-call"></i></span>
                        <span class="pcoded-mtext">Créer une alerte</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Options</label>
                </li>
                <li data-username="Profile page" class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="{{ url_for('home_blueprint.profile').html }}" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-user"></i>
                        </span>
                        <span class="pcoded-mtext">Mon profil</span>
                    </a>
                </li>
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Se déconnecter</span>
                    </a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Liens utiles</label>
                </li>
                <li data-username="Contactez-nous"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link {% if 'support' in segment %} active {% endif %}"><span class="pcoded-micon"><i class="feather icon-message-circle"></i></span><span
                            class="pcoded-mtext">Contactez-nous</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="mailto:contact@ak-intelligence.com"><i class="feather icon-headphones"></i> Support</a></li>
                        <li class=""><a href="#" class="disabled"><i class="feather icon-users"></i> Discord</a></li>
                        <li class=""><a href="#" class="disabled"><i class="feather icon-users"></i> Forum</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Soutenez-nous (c'est apprécié!)</label>
                    <a class="nav-link disabled">
                        <span class="pcoded-mtext">BTC:XXXXXXX</span>
                    </a>
                    <a class="nav-link disabled">
                        <span class="pcoded-mtext">ETH:XXXXXXX</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
