{% extends "layouts/base.html" %}

{% block title %} Mes alertes {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Mes alertes</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Mes outils premiums</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Gérer mes alertes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>Créer une alerte</h5>
                                <hr>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item"> <a class="nav-link text-uppercase active show" id="price-tab" data-toggle="tab"
                                        href="#price" role="tab" aria-controls="price" aria-selected="true">Prix</a>
                                    </li>
                                    <li class="nav-item"> <a class="nav-link text-uppercase" id="percentage-tab" data-toggle="tab" href="#percentage"
                                        role="tab" aria-controls="percentage" aria-selected="false">Pourcentage</a> 
                                    </li>   
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <!-- Price tab form START -->
                                    {% include 'includes/form_add_crypto_price.html' %}
                                    <!-- Price tab form END -->
                                    <!-- Percent tab form START -->
                                    {% include 'includes/form_add_crypto_percent.html' %}
                                    <!-- Percent tab form END -->
                                </div>
                            </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>Mes alertes</h5>
                                <hr>
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Crypto</th>
                                                        <th>Symbol</th>
                                                        <th>Activated since</th>
                                                        <th>Price when activated</th>
                                                        <th>Current price (variation)</th>
                                                        <th>Alert me if price below</th>
                                                        <th>Alert me if price above</th>
                                                        <th>Via</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Bictoin</td>
                                                        <td>BTC</td>
                                                        <td>15/09/2022 - 15:00 (UTC+2)</td>
                                                        <td>15522.32€</td>
                                                        <td>17489.32€ (+x%)</td>
                                                        <td>14000€ (-x%)</td>
                                                        <td>18000€ (+x%)</td>
                                                        <td>Whatsapp, Discord</td>
                                                        <td>Cancel / Update </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Litecoin</td>
                                                        <td>LTC</td>
                                                        <td>17/09/2022 - 15:00 (UTC+2)</td>
                                                        <td>15522.32€</td>
                                                        <td>17489.32€ (+x%)</td>
                                                        <td>14000€ (-x%)</td>
                                                        <td>18000€ (+x%)</td>
                                                        <td>Whatsapp, Discord</td>
                                                        <td>Cancel / Update </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Litecoin</td>
                                                        <td>LTC</td>
                                                        <td>17/09/2022 - 15:00 (UTC+2)</td>
                                                        <td>15522.32€</td>
                                                        <td>17489.32€ (+x%)</td>
                                                        <td>14000€ (-x%)</td>
                                                        <td>18000€ (+x%)</td>
                                                        <td>Whatsapp, Discord</td>
                                                        <td>Cancel / Update </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
